---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Img from "../components/Img.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.team-section {
				background-color: var(--bg-color);
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.team {
				display: flex;
				font-size: 14px;
				gap: 6px;
			}

			

			.team-member img {
				width: 150px;
			}


			.contact {
				display: flex;
				gap: 3px;
				align-items: center;
				justify-content: center;
				text-align: center;
			}

			

		

			@media (max-width: 768px) {
				.team {
					flex-direction: column;
					gap: 20px;
				}

				.team-member img {
					width: 100px;
				}
			}
			
		</style>
	</head>

	<body>
		<Header />
		<main>
			<section class="hero-section">
				<Img  src="/oldschool/images/about-nuschool-hero.jpg" alt="Hero Image" class="hero-image">
			</section>
			<section class="team-section">
				<div class="w-container">
				  <h2 class="aboutheading">We love to learn & we love to teach.</h2>
				  <p class="whatwelike">
					We also love to do great work. We love design. We love life. We love technology. We love music. 
					We love being productive. We love coffee. We love to work fast (& dirty). We love our clients.
				  </p>
				  <div class="team">
					<!-- Team Member 1 -->
					<div class="team-member">
					  <img src="/oldschool/images/about-nuschool-lior-1.jpg" alt="Lior Frenkel">
					  <h3 class="aboutname">Lior Frenkel</h3>
					  <div class="textseperator"></div>
					  <p class="abouttext">
						Mixing projects, people & technology both online and offline. He used to work as an engineer & project manager 
						before jumping into the startup scene. Now he's consulting, blogging & lecturing around the world.
					  </p>
					  <div class="contact">
						<a href="mailto:lior@thenuschool.com?subject=Hey%20Lior!%20Saw%20the%20nuschool%20website..">
						  Email
						</a>
						<a href="https://www.facebook.com/hamutsi?fref=ts" target="_blank">
						Facebook
						</a>
						<a href="https://twitter.com/hamutsi" target="_blank">
							Twitter
						</a>
						<a href="https://www.linkedin.com/profile/view?id=6104862" target="_blank">
						  LinkedIn
						</a>
					  </div>
					</div>
					<!-- Team Member 2 -->
					<div class="team-member">
					  <img src="/oldschool/images/about-nuschool-ayal-1.jpg" alt="Ayal Gelles">
					  <h3 class="aboutname">Ayal Gelles</h3>
					  <div class="textseperator"></div>
					  <p class="abouttext">
						Programming computers for 15 years. Programming himself for 30 years. Programming other people. Programming 
						for a living. Teaching it. Still learning it. Playing with it. Making art with it. Loving it.
					  </p>
					  <div class="contact">
						<a href="mailto:ayal@thenuschool.com?subject=Hey%20Ayal!%20Saw%20the%20nuschool%20website..">
						  Email
						</a>
						<a href="https://www.facebook.com/takashirgb?fref=ts" target="_blank">
						  Facebook
						</a>
						<a href="https://twitter.com/ayalgelles" target="_blank">
						  Twitter
						</a>
						<a href="https://www.linkedin.com/pub/ayal-gelles/70/b8a/527" target="_blank">
						  LinkedIn
						</a>
					  </div>
					</div>
					<!-- Team Member 3 -->
					<div class="team-member">
					  <img src="/oldschool/images/about-nuschool-ran-1.jpg" alt="Ran Segall">
					  <h3 class="aboutname">Ran Segall</h3>
					  <div class="textseperator"></div>
					  <p class="abouttext">
						Playing with pixels since he was 14. Started to charge money for it when he was 17. Used to work in advertising 
						& branding, now he enjoys helping startups & other designers.
					  </p>
					  <div class="contact">
						<a href="mailto:ran@thenuschool.com?subject=Hey%20Ran!%20Saw%20the%20nuschool%20website..">
						  Email
						</a>
						<a href="https://www.facebook.com/ran.segall" target="_blank">
						  Facebook
						</a>
						<a href="https://twitter.com/ransegall" target="_blank">
						  Twitter
						</a>
						<a href="https://il.linkedin.com/pub/ran-segall/33/82a/b5/" target="_blank">
						  LinkedIn
						</a>
					  </div>
					</div>
				  </div>
				</div>
			  </section>
		</main>
	</body>
</html>
