---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<div class="header-container">
		<div class="logo">
			<img
				src="/oldschool/images/nuschool-black.png"
				width="64"
				height="64"
				alt={SITE_TITLE}
			/>
		</div>
		<nav class="nav-container">
			<div class="internal-links">
				<HeaderLink href="/oldschool">Home</HeaderLink>
				<HeaderLink href="/oldschool/pricing">Pricing</HeaderLink>
				<HeaderLink href="/oldschool/marketing">Marketing</HeaderLink>
				<HeaderLink href="/oldschool/blog">Blog</HeaderLink>
				<HeaderLink href="/oldschool/about">About</HeaderLink>
			</div>
		</nav>
	</div>
</header>
