---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<div class="header-container">
		<div class="logo">
			<img
				src="/images/nuschool-black.png"
				width="64"
				height="64"
				alt={SITE_TITLE}
			/>
		</div>
		<nav class="nav-container">
			<div class="internal-links">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/pricing">Pricing</HeaderLink>
				<HeaderLink href="/marketing">Marketing</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
		</nav>
	</div>
</header>
