---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<div class="header-container">
		<div class="logo">
			<img
				src="/oldschool/images/nuschool-black.png"
				width="64"
				height="64"
				alt={SITE_TITLE}
			/>
		</div>
		<nav class="nav-container">
			<div class="internal-links">
				<HeaderLink href="/oldschool">Home</HeaderLink>
				<HeaderLink href="/oldschool/pricing">Pricing</HeaderLink>
				<HeaderLink href="/oldschool/marketing">Marketing</HeaderLink>
				<HeaderLink href="/oldschool/blog">Blog</HeaderLink>
				<HeaderLink href="/oldschool/about">About</HeaderLink>
			</div>
		</nav>
	</div>
</header>
<style>
	.header-container {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.logo {
		position: absolute;
		left: 1em;	
	}

	.nav-container {
		flex: 1;
		display: flex;
		justify-content: center;
	}

	.internal-links {
		display: flex;
	}

	nav a {
		padding: 1em 0.5em;
		color: var(--text-color);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}

	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}

	.social-links,
	.social-links a {
		display: flex;
	}

	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
